$fontText1: "Montserrat Alternates", sans-serif;
$fontText2: "Urbanist", sans-serif;

$colorFont: greenyellow;;
$colorFont2: #D0BDF4;
$colorFont3: #8458B3;
$colorFont4: #9897A9;



body {
    background-color: black;
    color: $colorFont4;
    font-family: $fontText1;
}

main{
    padding-top: 30px;
}